-e-gen replacement (from express routers) setup, removed .git, .git init empty directory, craeted repository, set as origin for mine, initial commit


3. Create a `Flight` Model with the following properties (in lab planner)
  -DONE (but did not IMPORT anywhere yet - controller)

NEXT PUSH
create models dir & flight.js, set up, define, export flight model


QUESTIONS
-during Define a Basic Schema for a Movie Model - required:true or no? didnt specify
  -not sure how to test when setting these up?
-slack engineering - why is my .gitignore file being uploaded? (had to set it to IGNORE)