
TO FIX/FINISH from Part 1 - REPLACE FAVICON 
  - DEFAULT VALUE FOR "departs" NOT WORKING https://ga-students.slack.com/archives/C068S0D7AKC/p1705360897384229
BONUSES PART 1 - (bottom of page) 1. default departure date in "new flight" form / 2. list of flights in ascending order by dep. date, & red text if flight date has passed / 3. style index & new views




NEXT PUSH
submit form for updating flight - conceptualize route, create UI(already done), define route & map to exported controller, create & export controller, code controller, test!


QUESTIONS
-multiple css docs, i renamed "style" to "main"? missing CSS doc?
-during Define a Basic Schema for a Movie Model - required:true or no? didnt specify
  -not sure how to test when setting these up?
-slack engineering - why is my .gitignore file being uploaded? (had to set it to IGNORE)

